
<div class="row">
    <div class="col-3"></div>
    <div class="col-6 ">
      <div class="card">
        <div class="card-body b">
          <div class="container-fluid">
            <em><h2 class="fontsize"><strong>Online grocery store </strong></h2>
            <p>Did you ever imagine that the freshest of<b> fruits and vegetables</b>, top quality pulses and food grains,
              <b>dairy products</b> and hundreds of items could be handpicked directly from the farm and delivered to your home, all at
              the click of a button? mycrop.com, brings a whopping 20000+
              products to your doorsteps, to over 4 million happy customers.
              mycrop.com is convenience personified
              We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all
              your groceries online without travelling long distances or standing in
              serpentine queues. Add to this the convenience of finding all your requirements at one single source, along
              with great savings, and you will realize that mycrop.com- India’s largest online supermarket, has
              revolutionized the way India shops for groceries. Online grocery shopping has never been easier. Need things
              fresh? Whether it’s fruits and vegetables or dairy.
              Hassle-free Home Delivery options</p>
            <p>We deliver to 25 cities across India and maintain excellent delivery times, ensuring that all your products
              from groceries to snacks <b>Organic foods</b> reach you in time. </p>
            <ul>
              <li> Slotted Delivery: Pick the most convenient delivery slot to have your grocery delivered. From early
                morning delivery for early birds, to late-night delivery for people who work the late shift, bigbasket
                caters to every schedule. </li>
              <li> Express Delivery: This super useful service can be availed by customers in cities like Bangalore,
                Mumbai, Pune, Chennai, Kolkata, Hyderabad and Delhi-NCR in which we deliver your orders to your doorstep
                in 90 Minutes. </li>
            </ul></em>
            </div>
          </div>
        </div>
      </div>
    </div>