.logo
{
    padding-left: 1000px;
    padding-top: 100px;
}
.body-main {
    background: #ffffff;
    border-bottom: 15px solid #1E1F23;
    border-top: 15px solid #1E1F23;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #808080;
    font-size: 10px
}

.main thead {
    background: #1E1F23;
    color: #fff
}

.img {
    height: 100px
}

h1 {
    text-align: center
}
img{
    margin-right: 1000px;
}
.navbar{
    justify-content: space-between;
    background: transparent;
   }

p.menusomething >img
   {
      margin-top:20px; /*to have the space above the image*/
      margin-bottom:20px; /*to have the space under the image*/
   }

button
{
    margin-right: 20px;
}   