H1,h3,h6 {
  color: rgb(253, 2, 2)
}

   .navbar{
     height :20%;
     line-height: 10%;
  } 

  #navbar{
    background-color: rgb(207, 196, 134);
  }

  .text-center {
    
    width: 1200px;
            margin: 0 auto;
  }
  .btn-link {
    color: rgb(253, 2, 2)
}