<nav class="navbar navbar-dark "  id="navbar">
  <div class="row">
    <div class="col">
      
       
      
         <h1 class="text-center">cropdeal </h1>
         <button class="btn btn-link" routerLink="/home" routerLinkActive="active" >Home</button>
         <button class="btn btn-link" routerLink="/aboutus" routerLinkActive="active" >aboutus</button>
         <button class="btn btn-link" routerLink="/manageCrop" routerLinkActive="active">Crops</button>
       <!--  <button class="btn btn-link" routerLink="/payment" riuterLinkActive="active">receipt</button>-->
         <button class="btn btn-link" routerLink="/pay" riuterLinkActive="active">payment</button>
         <button class="btn btn-link"  routerLink="/order" routerLinkActive="active">Order</button>
         <button class="btn btn-link" (click)="logout()">Logout</button>
         
   
    </div>
  </div>
  

  </nav>